<div class="flex items-center justify-center h-screen flex-col">
  <h1 class="text-lime-600 font-mono text-4xl font-semibold">Eluder</h1>
  <h2 class="text-lime-600 font-mono text-3xl font-semibold">Stock Trading App</h2> 
  <h1 class="font-mono text-2xl font-semibold text-lime-600">Log in</h1> <br/>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "w-64 h-11 border-solid border border-lime-600 rounded indent-2" %>
  </div> 

  <div class="field mb-2">
    <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class: "w-64 h-11 border-solid border border-lime-600 rounded indent-2" %>
  </div> 

  <div class="actions">
    <%= f.submit "Log in", class: "bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded w-64 cursor-pointer" %>
  </div> <br/>

  <div class="flex flex-col justify-between"> 
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div> 
    <% end %>
    <%= render "users/shared/links" %>
  </div>

  <% end %>

</div>
