<%= render "partials/header" %>
<%= render "partials/navigation" %>

<h1>Edit <%= resource.role.capitalize %> Account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    <% resource.errors.full_messages_for(:first_name).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    <% resource.errors.full_messages_for(:last_name).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% resource.errors.full_messages_for(:email).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(Minimum <%= @minimum_password_length %> characters)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% resource.errors.full_messages_for(:password).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <% resource.errors.full_messages_for(:password_confirmation).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    <% resource.errors.full_messages_for(:current_password).each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Delete Account <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<% if resource.role == "trader" %>
  <%= link_to "Return", trader_dashboard_path %>
<% else %>
  <%= link_to "Return", admin_dashboard_path %>
<% end %>

